## Reading in the data

In [1]:
## Import the packages
import numpy
import pandas as pd
import matplotlib.pyplot as plt
from pandas.tools.plotting import scatter_matrix

In [2]:
#Read the individual data frames
#The default is pickle format. If you are working with the feather format, then the comments on each line indicate how to use it
anp_df = pd.read_pickle(r'anp.pickle') #feather.read_dataframe('data_science_case/anp.feather')
face_df = pd.read_pickle(r'face.pickle') #feather.read_dataframe('data_science_case/face.feather')
image_df = pd.read_pickle(r'image_data.pickle') #feather.read_dataframe('data_science_case/image_data.feather')
metrics_df = pd.read_pickle(r'image_metrics.pickle') #feather.read_dataframe('data_science_case/image_metrics.feather')
object_labels_df = pd.read_pickle(r'object_labels.pickle') #feather.read_dataframe('data_science_case/object_labels.feather')
survey_df = pd.read_pickle(r'survey.pickle') #feather.read_dataframe('data_science_case/survey.feather')

In [25]:
# Merge them based on the image_id so that we have a large data frame containing all the elements

image_anp_frame = pd.merge(image_df, anp_df, how='inner', on='image_id')
im_anp_obj_frame = pd.merge(image_anp_frame, object_labels_df, how='inner', on='image_id')
im_anp_obj_face_frame = pd.merge(im_anp_obj_frame, face_df, how='inner', on='image_id')
data1 = pd.merge(im_anp_obj_frame, face_df, how='inner', on='image_id')
data = pd.merge(data1, metrics_df,how='inner', on='image_id' )

In [ ]:
##Visualize the data
pd.options.display.max_rows  ## This is for showing all the text in the column (otherwise it will be half....)
pd.set_option('display.max_colwidth', -1)
data.head()

In [5]:
data.shape ## Koppeling is goed

(3887625, 40)

In [7]:
metrics_df.shape

(44218, 5)

In [6]:
survey_df.shape

(161, 46)

In [9]:
anp_df.shape

(325941, 5)

In [10]:
face_df.shape

(86877, 17)

In [12]:
image_df.shape

(41206, 18)

In [13]:
object_labels_df.shape

(172613, 3)

## We hebben 2 datasets nu data & survey_df

In [28]:
data.head()

,image_id,image_link,image_url,image_height,image_width,image_filter,image_posted_time_unix,image_posted_time,data_memorability,user_id,...,face_smile,face_smile_confidence,eyeglasses,eyeglasses_confidence,face_emo,emo_confidence,comment_count,comment_count_time_created,like_count,like_count_time_created
0,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/...,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,...,True,87.779747,False,99.99987,HAPPY,96.51368,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09
1,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/...,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,...,True,87.779747,False,99.99987,SAD,2.52015,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09
2,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/...,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,...,True,87.779747,False,99.99987,SURPRISED,11.01824,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09
3,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/...,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,...,True,87.779747,False,99.99987,HAPPY,96.51368,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09
4,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/...,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,...,True,87.779747,False,99.99987,SAD,2.52015,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09

In [26]:
# object_labels_df.groupby("image_id").count() ## inner voor object_labels is goed ( niet uniek op image_id)
# image_df.groupby("image_id").count() ## inner moeten we gebruiken ( deze is uniek op image_id)
# face_df.groupby("image_id").count() ## inner voor face_df ( niet uniek op image _id)
# anp_df.groupby('image_id').count() ## inner voor face_df ( niet uniek op image _id)
# metrics_df.groupby('image_id').count() niet uniek inner join
survey_df

,index,id,gender,born,education,employed,income,A_2,N_1,P_1,...,P,E,R,M,A,PERMA,N_EMO,P_EMO,imagecount,private_account
0,0,920bf027f7d13dbdc7b66b3d3324903c,Male,1975,College graduate,Employed for wages,"$30,000 to $39,999",4,5,5,...,4.333333,4.000000,4.666667,5.000000,3.666667,4.2500,4.000000,4.333333,465.0,public
1,1,b433b2bfe49e28d0b7c45925b53084e0,Male,1978,College graduate,Employed for wages,"$20,000 to $29,999",8,0,9,...,9.000000,7.333333,9.000000,8.000000,7.666667,8.2500,0.000000,9.000000,6.0,public
2,4,f4f54676f75f47c17dc434cf68845328,Female,1990,High school graduate,Employed for wages,"$80,000 to $89,999",7,3,8,...,8.000000,7.333333,7.666667,7.666667,7.333333,7.5625,3.333333,8.000000,767.0,public
3,5,a27a5fc47a59f35761705330253a58e3,Male,1997,High school graduate,Employed for wages,"$20,000 to $29,999",7,5,7,...,6.000000,4.666667,3.666667,6.666667,5.666667,5.3750,6.000000,6.000000,43.0,public
4,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,...,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
5,10,8393c367c91dbc479eb9bdb2e41e6eb5,Female,1979,High school graduate,Self-employed,"$100,000 to $149,999",7,8,10,...,10.000000,9.333333,10.000000,9.333333,7.666667,9.2500,3.333333,10.000000,609.0,public
6,11,ec67c44722c7dae7f869aa67a27547d6,Female,1992,College graduate,Employed for wages,"$70,000 to $79,999",8,3,8,...,8.333333,8.333333,10.000000,9.666667,9.000000,9.0000,2.666667,8.333333,16.0,public
7,12,b6822b40258fa0e68a75c5230a3fdc83,Female,1980,High school graduate,Out of work but not currently looking for work,"$30,000 to $39,999",7,8,1,...,3.333333,6.333333,6.666667,4.000000,5.666667,5.1875,5.000000,3.333333,105.0,public
8,15,a3835e8be78d53d3b87e8230e26b3a97,Male,1984,High school graduate,Employed for wages,"$30,000 to $39,999",8,2,5,...,7.000000,5.333333,9.333333,6.666667,8.666667,7.4375,1.000000,7.000000,52.0,public
9,16,2c3579cbf6ddc98313910d9d7fabb70c,Female,1978,High school graduate,A homemaker,"$90,000 to $99,999",7,3,7,...,8.000000,7.000000,8.333333,7.000000,8.000000,7.6875,2.666667,8.000000,312.0,public
10,18,2bb11103467826cdf8b7ab623acf002e,Female,1963,High school graduate,Self-employed,"$20,000 to $29,999",9,2,7,...,8.666667,8.666667,10.000000,8.333333,9.333333,9.0000,1.333333,8.666667,8.0,public
11,20,f524320a94947a285aebffeb3d4bed62,Male,1996,High school graduate,A student,"$10,000 to $19,999",8,2,6,...,7.000000,6.000000,6.666667,9.000000,7.666667,7.2500,1.333333,7.000000,5.0,public
12,24,885fad61df267191dc98113b39c0b1aa,Female,1992,High school graduate,Employed for wages,"$30,000 to $39,999",10,0,10,...,10.000000,6.666667,10.000000,10.000000,10.000000,9.3750,0.000000,10.000000,3.0,public
13,27,f6e92380f3e372a37cdccd2adb55aa32,Female,1991,College graduate,Employed for wages,"$20,000 to $29,999",7,4,6,...,6.666667,7.000000,7.000000,7.333333,7.666667,7.1875,3.000000,6.666667,501.0,public
14,30,61d93b845d26ae297f3a2f83cc4929da,Female,1994,College graduate,Employed for wages,"$40,000 to $49,999",8,9,7,...,8.666667,6.666667,6.666667,6.333333,6.333333,6.9375,8.333333,8.666667,156.0,public
15,31,baca9a61d94cc576725eb3f2f92f6ec1,Male,1977,College graduate,Employed for wages,"$90,000 to $99,999",8,4,7,...,7.333333,8.000000,8.000000,7.666667,7.333333,7.7500,2.666667,7.333333,266.0,public
16,36,40f45a0515bdfd5141760a8102170cbb,Female,1948,High school graduate,Retired,"$30,000 to $39,999",9,9,8,...,8.000000,8.666667,7.333333,8.000000,8.666667,8.1250,6.333333,8.000000,1.0,public
17,37,fb128eac782314401ef62ddb57eedb28,Female,1987,College graduate,Employed for wages,"$30,000 to $39,999",6,7,8,...,7.000000,7.000000,5.666667,6.333333,6.666667,6.5625,6.333333,7.000000,739.0,public
18,38,804d2e260cd9c5b24bcf6a3bd980ca63,Female,1979,High school graduate,Self-employed,"$30,000 to $39,999",4,7,5,...,5.666667,4.666667,5.666667,3.333333,3.333333,4.5625,6.666667,5.666667,755.0,public
19,39,c8d647bb30d06a68850b5e13e3b9ac1b,Female,1990,College graduate,A homemaker,"$20,000 to $29,999",4,8,5,...,5.000000,5.666667,3.333333,3.666667,4.000000,4.3750,6.666667,5.000000,1.0,public
20,42,7f4215dfcfc8798eee56cb4add348170,Female,1987,College graduate,Out of work and looking for work,"$100,000 to $149,999",7,3,4,...,4.000000,7.000000,7.000000,3.333333,7.000000,5.5625,5.333333,4.000000,1.0,public
21,43,302b609cf778265c422701ccef126af6,Female,1992,College graduate,Employed for wages,"$50,000 to $59,999",5,8,6,...,6.000000,6.666667,6.333333,6.666667,6.000000,6.3125,4.666667,6.000000,464.0,public
22,44,d3cbd581e36ca09964db98869893bb3c,Female,1974,High school graduate,A homemaker,"$40,000 to $49,999",6,2,4,...,3.000000,5.333333,3.666667,5.333333,5.333333,4.4375,3.000000,3.000000,1515.0,public
23,52,c2f74a294de0ee559c6311052a712356,Female,1992,College graduate,A homemaker,"$30,000 to $39,999",7,7,8,...,7.333333,7.333333,7.000000,7.333333,7.333333,7.2500,4.666667,7.333333,5.0,public
24,56,8565938e196a8cb611de6adafdce5e26,Female,1970,College graduate,Self-employed,"$70,000 to $79,999",8,5,7,...,7.333333,8.000000,7.666667,6.000000,7.000000,7.2500,3.666667,7.333333,37.0,public
25,60,c67c31178a3a82fd3194f8f7e05ffaac,Male,1982,College graduate,Employed for wages,"$20,000 to $29,999",10,1,10,...,10.000000,8.000000,9.333333,10.000000,10.000000,9.5000,1.000000,10.000000,331.0,public
26,63,908c12a6a174905349f0fe7e4d00ff2b,Female,1987,College graduate,Employed for wages,"$150,000 or more",7,8,6,...,6.333333,4.666667,8.333333,5.666667,8.333333,6.6250,4.333333,6.333333,64.0,public
27,64,f42008e6f952739a7c3687268d4962d3,Male,1985,College graduate,Employed for wages,"$70,000 to $79,999",6,7,6,...,6.000000,6.000000,6.333333,5.666667,6.000000,6.0000,5.333333,6.000000,1.0,public
28,66,b629e788f781373c447aae0881677d06,Female,1978,College graduate,Employed for wages,"$70,000 to $79,999",8,6,6,...,6.666667,7.000000,9.000000,7.000000,6.666667,7.3125,4.333333,6.666667,567.0,public
29,67,7cb62b1e94bbebd6653280b1049b8b6d,Male,1989,College graduate,Employed for wages,"$30,000 to $39,999",5,1,9,...,6.666667,5.666667,6.666667,3.666667,7.000000,5.8750,1.000000,6.666667,220.0,public
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,263,44dea113fa447974b9c66c9434a1de72,Female,1994,College graduate,Employed for wages,"$90,000 to $99,999",8,9,6,...,5.666667,8.000000,6.000000,6.666667,7.666667,6.8125,8.333333,5.666667,50.0,public
132,264,3db3d58a9dbef7f161bc6952777fadb2,Male,1991,College graduate,Self-employed,"Less than $10,000",6,9,8,...,8.000000,9.000000,10.000000,4.333333,5.333333,7.3125,5.000000,8.000000,6.0,public
133,265,008ce9000fbc39d9e7e7b6db433686ff,Female,1990,College graduate,Self-employed,"$20,000 to $29,999",7,9,9,...,7.333333,9.000000,9.666667,8.666667,7.666667,8.4375,8.000000,7.333333,301.0,public
134,266,3ae2f65ec93182455a6d388a339b7933,Male,1993,Post graduate degree,A student,"$10,000 to $19,999",4,2,10,...,8.666667,6.666667,7.333333,8.333333,7.000000,7.7500,3.666667,8.666667,18.0,public
135,268,ae0acffd5ab1b5d082d92001634035b0,Female,1988,College graduate,Employed for wages,"$30,000 to $39,999",8,7,8,...,7.333333,7.666667,8.666667,6.333333,7.000000,7.4375,5.000000,7.333333,47.0,public
136,269,ca895605480177fd9e2bf9cbf37ba5a3,Male,1989,Post graduate degree,Self-employed,"$20,000 to $29,999",10,8,9,...,9.666667,8.666667,9.333333,10.000000,10.000000,9.5625,6.000000,9.666667,447.0,public
137,270,120047fc1ee5854f1f9d17498b165864,Female,1996,High school graduate,A student,"$10,000 to $19,999",8,6,5,...,5.666667,8.333333,8.333333,7.666667,8.000000,7.5625,4.000000,5.666667,20.0,public
138,271,bd358b80f59b6d0c7f5692b204a38525,Female,1984,College graduate,Employed for wages,"$100,000 to $149,999",5,4,8,...,8.333333,6.333333,9.333333,9.666667,8.333333,8.3750,2.666667,8.333333,48.0,public
139,272,9e8e1fa9d94b567f88ae0a56258d2407,Male,1994,College graduate,Self-employed,"$50,000 to $59,999",7,6,4,...,5.000000,7.000000,7.666667,6.666667,6.666667,6.6250,5.333333,5.000000,8.0,public
140,277,c93d368a3780cae484e87a312b2f36c2,Male,1989,College graduate,Self-employed,"$10,000 to $19,999",7,4,8,...,7.000000,6.000000,6.666667,7.666667,6.666667,6.8125,4.000000,7.000000,548.0,public
141,280,f67c579589ee85b91e681c90e987eeee,Female,1995,High school graduate,Out of work and looking for work,"Less than $10,000",4,5,5,...,4.666667,6.000000,5.000000,5.000000,3.666667,4.8750,4.000000,4.666667,105.0,public
142,281,558e99e2f98d4317d1d683f9eb8c8a1b,Female,1997,High school graduate,A student,"$10,000 to $19,999",3,8,9,...,8.000000,7.333333,7.666667,5.333333,4.333333,6.5000,6.000000,8.000000,176.0,public
143,283,331d668f640d80384a587ac21db5ed9c,Female,1993,High school graduate,A homemaker,"Less than $10,000",7,9,9,...,7.333333,8.666667,6.333333,8.666667,8.000000,7.7500,7.000000,7.333333,260.0,public
144,284,c25b00453ff8f9370e951337042dbb56,Male,1994,College graduate,Employed for wages,"$30,000 to $39,999",9,4,8,...,8.333333,8.666667,9.000000,8.666667,8.666667,8.6250,3.333333,8.333333,427.0,public
145,285,8cce47755a24d93ecb94bfd7d2dede98,Female,1992,College graduate,Out of work but not currently looking for work,"$40,000 to $49,999",10,0,5,...,8.333333,7.333333,8.666667,9.333333,8.333333,8.3750,1.000000,8.333333,2.0,public
146,286,32a7b85933a07916878f5b4ed1eccaf8,Male,1993,High school graduate,Employed for wages,"$50,000 to $59,999",7,7,5,...,6.000000,8.333333,6.000000,7.333333,8.000000,7.1250,4.333333,6.000000,72.0,public
147,290,ed13ffe90eb4f81c3ec190a9babbe3b3,Male,1998,High school graduate,Self-employed,"Less than $10,000",3,2,4,...,5.333333,3.000000,7.000000,7.666667,5.666667,5.7500,2.000000,5.333333,109.0,public
148,291,8d4fada2394f86dddd0959430c8669a6,Female,1975,High school graduate,Self-employed,"$20,000 to $29,999",7,5,8,...,8.333333,8.666667,6.000000,7.000000,7.000000,7.4375,4.666667,8.333333,97.0,public
149,293,6cc4afc440a35b07a157afdb98fedf1b,Male,1998,High school graduate,Self-employed,"$40,000 to $49,999",9,2,7,...,7.333333,7.333333,8.666667,9.333333,9.000000,8.3125,4.666667,7.333333,22.0,public
150,297,beee76c8e5770f7d316e72b3ecc98016,Male,1995,High school graduate,A student,I'd rather not disclose this information,2,7,3,...,5.000000,7.333333,6.333333,6.000000,4.666667,5.8125,6.333333,5.000000,144.0,public
151,303,c6bd75e9dbe842ca83592343494b9bd6,Female,1958,College graduate,Self-employed,"$20,000 to $29,999",5,10,4,...,3.666667,8.000000,2.000000,4.000000,6.666667,4.7500,9.333333,3.666667,16.0,public
152,304,9ce00751baa17a761bbcc546fa5d4e6d,Female,1989,High school graduate,Out of work and looking for work,"$40,000 to $49,999",5,8,5,...,3.333333,6.333333,3.333333,2.666667,5.666667,4.0625,8.000000,3.333333,368.0,public
153,306,f993dca0781c7c1c67f28ffcbf7c45ea,Male,1995,Some high school,Self-employed,"$10,000 to $19,999",7,5,4,...,5.666667,6.333333,4.000000,5.666667,8.000000,5.8125,3.333333,5.666667,45.0,public
154,307,f886bf762c0202d8f5cfd3701e39816b,Female,1995,High school graduate,Self-employed,"Less than $10,000",7,4,7,...,6.666667,7.333333,8.333333,7.666667,8.000000,7.5625,3.666667,6.666667,82.0,public
155,308,d99077af623749161a83e2aef4d2b176,Female,1981,College graduate,Out of work and looking for work,"$50,000 to $59,999",7,6,6,...,6.333333,7.000000,7.333333,6.666667,6.333333,6.7500,5.333333,6.333333,1292.0,public
156,319,5ea5607229b339a7cee33b413a3586e5,Female,1988,College graduate,Self-employed,"$70,000 to $79,999",3,10,6,...,8.666667,8.333333,10.000000,9.333333,6.666667,8.6875,7.666667,8.666667,240.0,public
157,324,e86c6beed0b79cbea5975267f5389be8,Male,1986,College graduate,Employed for wages,"$40,000 to $49,999",6,2,8,...,7.666667,5.000000,6.333333,6.333333,6.000000,6.3750,2.333333,7.666667,125.0,public
158,327,2f2792e13a8a1943c03b953d407ccc41,Male,1998,High school graduate,A student,"Less than $10,000",8,4,6,...,8.000000,8.666667,9.333333,10.000000,8.666667,8.8750,4.000000,8.000000,112.0,public
159,328,0d46831b5a6cd84aa0afc9bb7d9d33ba,Female,1992,College graduate,Out of work and looking for work,"$10,000 to $19,999",7,5,4,...,4.333333,8.666667,8.333333,7.000000,7.000000,7.0000,5.333333,4.333333,65.0,public
160,329,5c00241efe438d0b0ee4ecb44542ff5c,Female,1979,College graduate,Self-employed,"$30,000 to $39,999",8,7,6,...,6.666667,8.666667,6.333333,8.000000,8.333333,7.6250,4.333333,6.666667,505.0,public

In [29]:
survey_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 46 columns):
index              161 non-null int64
id                 161 non-null category
gender             161 non-null category
born               161 non-null int32
education          161 non-null category
employed           161 non-null category
income             161 non-null category
A_2                161 non-null int32
N_1                161 non-null int32
P_1                161 non-null int32
E_1                161 non-null int32
A_1                161 non-null int32
H_1                161 non-null int32
M_1                161 non-null int32
R_1                161 non-null int32
M_2                161 non-null int32
E_2                161 non-null int32
LON                161 non-null int32
H_2                161 non-null int32
P_2                161 non-null int32
N_2                161 non-null int32
A_3                161 non-null int32
N_3                161 non-null int32
E_3                161 non-null int32
H_3                161 non-null int32
R_2                161 non-null int32
M_3                161 non-null int32
R_3                161 non-null int32
P_3                161 non-null int32
HAP                160 non-null float64
participate        161 non-null category
insta_user_id      161 non-null int64
completed          161 non-null category
start_q            161 non-null category
end_q              161 non-null category
network_id         161 non-null category
P                  161 non-null float64
E                  161 non-null float64
R                  161 non-null float64
M                  161 non-null float64
A                  161 non-null float64
PERMA              160 non-null float64
N_EMO              161 non-null float64
P_EMO              161 non-null float64
imagecount         161 non-null float64
private_account    161 non-null object
dtypes: category(10), float64(10), int32(23), int64(2), object(1)
memory usage: 54.8+ KB

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4316085 entries, 0 to 4316084
Data columns (total 44 columns):
image_id                      object
image_link                    object
image_url                     object
image_height                  float64
image_width                   float64
image_filter                  object
image_posted_time_unix        object
image_posted_time             object
data_memorability             float64
user_id                       object
user_full_name                object
user_name                     object
user_website                  object
user_profile_pic              object
user_bio                      object
user_followed_by              float64
user_follows                  float64
user_posted_photos            float64
anp_label                     object
anp_sentiment                 float64
emotion_score                 float64
emotion_label                 object
data_amz_label                object
data_amz_label_confidence     float64
face_id                       float64
face_gender                   object
face_gender_confidence        float64
face_age_range_high           float64
face_age_range_low            float64
face_sunglasses               bool
face_beard                    bool
face_beard_confidence         float64
face_mustache                 bool
face_mustache_confidence      float64
face_smile                    bool
face_smile_confidence         float64
eyeglasses                    bool
eyeglasses_confidence         float64
face_emo                      object
emo_confidence                float64
comment_count                 float64
comment_count_time_created    object
like_count                    float64
like_count_time_created       object
dtypes: bool(5), float64(20), object(19)
memory usage: 1.3+ GB

## First EDA and cleansing

In [ ]:
## Drop the vars we dont need for sure
data = data.drop(['image_id'], axis=1)  
data = data.drop(['image_link'], axis=1)
data = data.drop(['image_url'], axis=1)

In [ ]:
## Overzichtelijk wat onze attributen zijn
data.info()