## Reading in the data

In [30]:
## Import the packages
import numpy
import pandas as pd
import matplotlib.pyplot as plt
from pandas.tools.plotting import scatter_matrix

In [31]:
#Read the individual data frames
#The default is pickle format. If you are working with the feather format, then the comments on each line indicate how to use it
anp_df = pd.read_pickle(r'anp.pickle') #feather.read_dataframe('data_science_case/anp.feather')
face_df = pd.read_pickle(r'face.pickle') #feather.read_dataframe('data_science_case/face.feather')
image_df = pd.read_pickle(r'image_data.pickle') #feather.read_dataframe('data_science_case/image_data.feather')
metrics_df = pd.read_pickle(r'image_metrics.pickle') #feather.read_dataframe('data_science_case/image_metrics.feather')
object_labels_df = pd.read_pickle(r'object_labels.pickle') #feather.read_dataframe('data_science_case/object_labels.feather')
survey_df = pd.read_pickle(r'survey.pickle') #feather.read_dataframe('data_science_case/survey.feather')

In [32]:
# Merge them based on the image_id so that we have a large data frame containing all the elements

image_anp_frame = pd.merge(image_df, anp_df, how='inner', on='image_id')
im_anp_obj_frame = pd.merge(image_anp_frame, object_labels_df, how='inner', on='image_id')
im_anp_obj_face_frame = pd.merge(im_anp_obj_frame, face_df, how='inner', on='image_id')
data1 = pd.merge(im_anp_obj_frame, face_df, how='inner', on='image_id')
data = pd.merge(data1, metrics_df,how='inner', on='image_id' )

In [33]:
##Visualize the data
pd.options.display.max_rows  ## This is for showing all the text in the column (otherwise it will be half....)
pd.set_option('display.max_colwidth', -1)
data.head()

,image_id,image_link,image_url,image_height,image_width,image_filter,image_posted_time_unix,image_posted_time,data_memorability,user_id,user_full_name,user_name,user_website,user_profile_pic,user_bio,user_followed_by,user_follows,user_posted_photos,anp_label,anp_sentiment,emotion_score,emotion_label,data_amz_label,data_amz_label_confidence,face_id,face_gender,face_gender_confidence,face_age_range_high,face_age_range_low,face_sunglasses,face_beard,face_beard_confidence,face_mustache,face_mustache_confidence,face_smile,face_smile_confidence,eyeglasses,eyeglasses_confidence,face_emo,emo_confidence,comment_count,comment_count_time_created,like_count,like_count_time_created
0,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Human,99.297043,20.0,Female,100.0,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,HAPPY,96.51368,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09
1,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Human,99.297043,20.0,Female,100.0,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SAD,2.52015,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09
2,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Human,99.297043,20.0,Female,100.0,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SURPRISED,11.01824,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09
3,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,People,99.299934,20.0,Female,100.0,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,HAPPY,96.51368,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09
4,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,People,99.299934,20.0,Female,100.0,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SAD,2.52015,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09

In [34]:
data.shape ## Koppeling is goed

(4316085, 44)

In [35]:
metrics_df.shape

(44218, 5)

In [36]:
survey_df.shape

(161, 46)

In [37]:
anp_df.shape

(325941, 5)

In [38]:
face_df.shape

(86877, 17)

In [39]:
image_df.shape

(41206, 18)

In [40]:
object_labels_df.shape

(172613, 3)

## We hebben 2 datasets nu data & survey_df

In [41]:
data.head()

,image_id,image_link,image_url,image_height,image_width,image_filter,image_posted_time_unix,image_posted_time,data_memorability,user_id,user_full_name,user_name,user_website,user_profile_pic,user_bio,user_followed_by,user_follows,user_posted_photos,anp_label,anp_sentiment,emotion_score,emotion_label,data_amz_label,data_amz_label_confidence,face_id,face_gender,face_gender_confidence,face_age_range_high,face_age_range_low,face_sunglasses,face_beard,face_beard_confidence,face_mustache,face_mustache_confidence,face_smile,face_smile_confidence,eyeglasses,eyeglasses_confidence,face_emo,emo_confidence,comment_count,comment_count_time_created,like_count,like_count_time_created
0,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Human,99.297043,20.0,Female,100.0,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,HAPPY,96.51368,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09
1,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Human,99.297043,20.0,Female,100.0,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SAD,2.52015,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09
2,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Human,99.297043,20.0,Female,100.0,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SURPRISED,11.01824,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09
3,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,People,99.299934,20.0,Female,100.0,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,HAPPY,96.51368,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09
4,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,People,99.299934,20.0,Female,100.0,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SAD,2.52015,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09

In [42]:
data.columns.values.tolist()
data.user_id

0          263042348
1          263042348
2          263042348
3          263042348
4          263042348
5          263042348
6          263042348
7          263042348
8          263042348
9          263042348
10         263042348
11         263042348
12         263042348
13         263042348
14         263042348
15         263042348
16         263042348
17         263042348
18         263042348
19         263042348
20         263042348
21         263042348
22         263042348
23         263042348
24         263042348
25         263042348
26         263042348
27         263042348
28         263042348
29         263042348
             ...
4316055    545497348
4316056    545497348
4316057    545497348
4316058    545497348
4316059    545497348
4316060    545497348
4316061    545497348
4316062    545497348
4316063    545497348
4316064    545497348
4316065    545497348
4316066    545497348
4316067    545497348
4316068    545497348
4316069    545497348
4316070    545497348
4316071    545497348
4316072    545497348
4316073    545497348
4316074    545497348
4316075    545497348
4316076    545497348
4316077    545497348
4316078    545497348
4316079    545497348
4316080    545497348
4316081    545497348
4316082    545497348
4316083    545497348
4316084    545497348
Name: user_id, Length: 4316085, dtype: object

In [43]:
# object_labels_df.groupby("image_id").count() ## inner voor object_labels is goed ( niet uniek op image_id)
# image_df.groupby("image_id").count() ## inner moeten we gebruiken ( deze is uniek op image_id)
# face_df.groupby("image_id").count() ## inner voor face_df ( niet uniek op image _id)
# anp_df.groupby('image_id').count() ## inner voor face_df ( niet uniek op image _id)
# metrics_df.groupby('image_id').count() niet uniek inner join
survey_df

,index,id,gender,born,education,employed,income,A_2,N_1,P_1,E_1,A_1,H_1,M_1,R_1,M_2,E_2,LON,H_2,P_2,N_2,A_3,N_3,E_3,H_3,R_2,M_3,R_3,P_3,HAP,participate,insta_user_id,completed,start_q,end_q,network_id,P,E,R,M,A,PERMA,N_EMO,P_EMO,imagecount,private_account
0,0,920bf027f7d13dbdc7b66b3d3324903c,Male,1975,College graduate,Employed for wages,"$30,000 to $39,999",4,5,5,3,4,5,6,6,5,5,6,5,6,3,3,4,4,4,4,4,4,2,3.0,Yes,619868570,true,2016-12-05 14:01:26,2016-12-05 14:02:52,124bd2ceb8,4.333333,4.000000,4.666667,5.000000,3.666667,4.2500,4.000000,4.333333,465.0,public
1,1,b433b2bfe49e28d0b7c45925b53084e0,Male,1978,College graduate,Employed for wages,"$20,000 to $29,999",8,0,9,7,7,8,8,9,8,9,0,9,9,0,8,0,6,8,9,8,9,9,9.0,Yes,187920333,true,2016-12-05 14:01:52,2016-12-05 14:03:07,2a0f882bcd,9.000000,7.333333,9.000000,8.000000,7.666667,8.2500,0.000000,9.000000,6.0,public
2,4,f4f54676f75f47c17dc434cf68845328,Female,1990,High school graduate,Employed for wages,"$80,000 to $89,999",7,3,8,7,7,7,8,8,8,8,3,8,8,3,8,4,7,7,8,7,7,8,7.0,Yes,33420910,true,2016-12-05 14:02:42,2016-12-05 14:03:52,f3ff34e4cf,8.000000,7.333333,7.666667,7.666667,7.333333,7.5625,3.333333,8.000000,767.0,public
3,5,a27a5fc47a59f35761705330253a58e3,Male,1997,High school graduate,Employed for wages,"$20,000 to $29,999",7,5,7,4,7,6,7,4,6,4,6,8,6,7,3,6,6,6,4,7,3,5,6.0,Yes,2143580844,true,2016-12-05 14:02:54,2016-12-05 14:04:08,a48e51bacd,6.000000,4.666667,3.666667,6.666667,5.666667,5.3750,6.000000,6.000000,43.0,public
4,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
5,10,8393c367c91dbc479eb9bdb2e41e6eb5,Female,1979,High school graduate,Self-employed,"$100,000 to $149,999",7,8,10,10,9,8,8,10,10,8,0,8,10,1,7,1,10,7,10,10,10,10,9.0,Yes,3988856,true,2016-12-05 14:03:39,2016-12-05 14:05:37,72aa611d17,10.000000,9.333333,10.000000,9.333333,7.666667,9.2500,3.333333,10.000000,609.0,public
6,11,ec67c44722c7dae7f869aa67a27547d6,Female,1992,College graduate,Employed for wages,"$70,000 to $79,999",8,3,8,8,10,9,9,10,10,10,0,9,8,3,9,2,7,9,10,10,10,9,8.0,Yes,1429720420,true,2016-12-05 14:04:12,2016-12-05 14:06:31,ced2a626d7,8.333333,8.333333,10.000000,9.666667,9.000000,9.0000,2.666667,8.333333,16.0,public
7,12,b6822b40258fa0e68a75c5230a3fdc83,Female,1980,High school graduate,Out of work but not currently looking for work,"$30,000 to $39,999",7,8,1,7,5,5,5,8,3,5,3,4,4,2,5,5,7,5,7,4,5,5,5.0,Yes,53918317,true,2016-12-05 14:05:13,2016-12-05 14:06:38,d77ae7c058,3.333333,6.333333,6.666667,4.000000,5.666667,5.1875,5.000000,3.333333,105.0,public
8,15,a3835e8be78d53d3b87e8230e26b3a97,Male,1984,High school graduate,Employed for wages,"$30,000 to $39,999",8,2,5,8,8,7,6,10,7,7,0,8,8,0,10,1,1,9,8,7,10,8,8.0,Yes,1441644483,true,2016-12-05 14:09:08,2016-12-05 14:10:37,1aa80a2e02,7.000000,5.333333,9.333333,6.666667,8.666667,7.4375,1.000000,7.000000,52.0,public
9,16,2c3579cbf6ddc98313910d9d7fabb70c,Female,1978,High school graduate,A homemaker,"$90,000 to $99,999",7,3,7,8,8,6,7,10,8,7,4,7,8,2,9,3,6,7,8,6,7,9,8.0,Yes,11520833,true,2016-12-05 14:08:47,2016-12-05 14:10:57,89140f0f7a,8.000000,7.000000,8.333333,7.000000,8.000000,7.6875,2.666667,8.000000,312.0,public
10,18,2bb11103467826cdf8b7ab623acf002e,Female,1963,High school graduate,Self-employed,"$20,000 to $29,999",9,2,7,9,9,8,8,10,9,9,0,9,9,1,10,1,8,8,10,8,10,10,9.0,Yes,589215950,true,2016-12-05 14:11:34,2016-12-05 14:13:26,8467356386,8.666667,8.666667,10.000000,8.333333,9.333333,9.0000,1.333333,8.666667,8.0,public
11,20,f524320a94947a285aebffeb3d4bed62,Male,1996,High school graduate,A student,"$10,000 to $19,999",8,2,6,7,7,7,9,8,9,5,5,8,7,1,8,1,6,8,6,9,6,8,7.0,Yes,2111135225,true,2016-12-05 14:11:33,2016-12-05 14:15:08,8a37abfafa,7.000000,6.000000,6.666667,9.000000,7.666667,7.2500,1.333333,7.000000,5.0,public
12,24,885fad61df267191dc98113b39c0b1aa,Female,1992,High school graduate,Employed for wages,"$30,000 to $39,999",10,0,10,10,10,10,10,10,10,10,0,10,10,0,10,0,0,10,10,10,10,10,10.0,Yes,246535583,true,2016-12-05 14:19:54,2016-12-05 14:21:31,4074b1963b,10.000000,6.666667,10.000000,10.000000,10.000000,9.3750,0.000000,10.000000,3.0,public
13,27,f6e92380f3e372a37cdccd2adb55aa32,Female,1991,College graduate,Employed for wages,"$20,000 to $29,999",7,4,6,8,7,8,7,7,8,6,3,8,7,2,9,3,7,8,8,7,6,7,8.0,Yes,2264409557,true,2016-12-05 14:24:02,2016-12-05 14:25:25,12b28d86a8,6.666667,7.000000,7.000000,7.333333,7.666667,7.1875,3.000000,6.666667,501.0,public
14,30,61d93b845d26ae297f3a2f83cc4929da,Female,1994,College graduate,Employed for wages,"$40,000 to $49,999",8,9,7,8,5,8,6,8,5,6,7,6,10,8,6,8,6,7,6,8,6,9,7.0,No,287562303,true,2016-12-05 14:30:51,2016-12-05 14:32:07,edebecd296,8.666667,6.666667,6.666667,6.333333,6.333333,6.9375,8.333333,8.666667,156.0,public
15,31,baca9a61d94cc576725eb3f2f92f6ec1,Male,1977,College graduate,Employed for wages,"$90,000 to $99,999",8,4,7,8,6,9,7,8,8,8,2,8,7,2,8,2,8,8,8,8,8,8,9.0,Yes,312682501,true,2016-12-05 14:33:05,2016-12-05 14:34:43,3b9eeb63ca,7.333333,8.000000,8.000000,7.666667,7.333333,7.7500,2.666667,7.333333,266.0,public
16,36,40f45a0515bdfd5141760a8102170cbb,Female,1948,High school graduate,Retired,"$30,000 to $39,999",9,9,8,9,9,8,8,6,8,8,7,7,8,3,8,7,9,9,8,8,8,8,8.0,Yes,360155844,true,2016-12-05 14:36:13,2016-12-05 14:39:28,0b4b14b563,8.000000,8.666667,7.333333,8.000000,8.666667,8.1250,6.333333,8.000000,1.0,public
17,37,fb128eac782314401ef62ddb57eedb28,Female,1987,College graduate,Employed for wages,"$30,000 to $39,999",6,7,8,6,6,8,7,6,7,8,7,8,7,6,8,6,7,7,6,5,5,6,7.0,Yes,143854846,true,2016-12-05 14:42:37,2016-12-05 14:44:35,b8d7602a2d,7.000000,7.000000,5.666667,6.333333,6.666667,6.5625,6.333333,7.000000,739.0,public
18,38,804d2e260cd9c5b24bcf6a3bd980ca63,Female,1979,High school graduate,Self-employed,"$30,000 to $39,999",4,7,5,5,2,6,2,5,5,6,6,6,6,6,4,7,3,5,6,3,6,6,5.0,Yes,3041716852,true,2016-12-05 14:44:37,2016-12-05 14:46:46,87694180e2,5.666667,4.666667,5.666667,3.333333,3.333333,4.5625,6.666667,5.666667,755.0,public
19,39,c8d647bb30d06a68850b5e13e3b9ac1b,Female,1990,College graduate,A homemaker,"$20,000 to $29,999",4,8,5,6,4,8,4,1,4,4,7,7,5,5,4,7,7,8,5,3,4,5,5.0,Yes,3468175004,true,2016-12-05 14:46:40,2016-12-05 14:48:29,ea076ab820,5.000000,5.666667,3.333333,3.666667,4.000000,4.3750,6.666667,5.000000,1.0,public
20,42,7f4215dfcfc8798eee56cb4add348170,Female,1987,College graduate,Out of work and looking for work,"$100,000 to $149,999",7,3,4,8,5,10,4,9,5,5,9,10,4,5,9,8,8,10,9,1,3,4,4.0,Yes,3175192849,true,2016-12-05 14:56:32,2016-12-05 14:58:36,8a43e0f5d2,4.000000,7.000000,7.000000,3.333333,7.000000,5.5625,5.333333,4.000000,1.0,public
21,43,302b609cf778265c422701ccef126af6,Female,1992,College graduate,Employed for wages,"$50,000 to $59,999",5,8,6,6,6,7,7,7,7,7,6,7,7,2,7,4,7,7,7,6,5,5,6.0,Yes,6734387,true,2016-12-05 14:59:15,2016-12-05 15:00:59,f98e283b21,6.000000,6.666667,6.333333,6.666667,6.000000,6.3125,4.666667,6.000000,464.0,public
22,44,d3cbd581e36ca09964db98869893bb3c,Female,1974,High school graduate,A homemaker,"$40,000 to $49,999",6,2,4,7,4,3,5,4,5,2,8,1,3,1,6,6,7,3,4,6,3,2,3.0,Yes,1619510,true,2016-12-05 15:05:10,2016-12-05 15:07:11,bac6d0bc5f,3.000000,5.333333,3.666667,5.333333,5.333333,4.4375,3.000000,3.000000,1515.0,public
23,52,c2f74a294de0ee559c6311052a712356,Female,1992,College graduate,A homemaker,"$30,000 to $39,999",7,7,8,8,7,7,8,6,7,7,9,5,7,3,8,4,7,6,8,7,7,7,7.0,Yes,3600687598,true,2016-12-05 15:18:41,2016-12-05 15:20:44,3c5e9c7d89,7.333333,7.333333,7.000000,7.333333,7.333333,7.2500,4.666667,7.333333,5.0,public
24,56,8565938e196a8cb611de6adafdce5e26,Female,1970,College graduate,Self-employed,"$70,000 to $79,999",8,5,7,8,6,6,6,7,6,7,4,4,7,3,7,3,9,3,9,6,7,8,8.0,Yes,33746400,true,2016-12-05 15:30:01,2016-12-05 15:31:25,bb7a7afd74,7.333333,8.000000,7.666667,6.000000,7.000000,7.2500,3.666667,7.333333,37.0,public
25,60,c67c31178a3a82fd3194f8f7e05ffaac,Male,1982,College graduate,Employed for wages,"$20,000 to $29,999",10,1,10,6,10,10,10,8,10,10,0,10,10,1,10,1,8,10,10,10,10,10,10.0,Yes,451627351,true,2016-12-05 15:34:41,2016-12-05 15:36:43,961123b4c9,10.000000,8.000000,9.333333,10.000000,10.000000,9.5000,1.000000,10.000000,331.0,public
26,63,908c12a6a174905349f0fe7e4d00ff2b,Female,1987,College graduate,Employed for wages,"$150,000 or more",7,8,6,6,8,10,5,9,7,4,6,10,7,1,10,4,4,10,10,5,6,6,6.0,Yes,4185084,true,2016-12-05 15:45:05,2016-12-05 15:46:56,73392e2042,6.333333,4.666667,8.333333,5.666667,8.333333,6.6250,4.333333,6.333333,64.0,public
27,64,f42008e6f952739a7c3687268d4962d3,Male,1985,College graduate,Employed for wages,"$70,000 to $79,999",6,7,6,5,5,8,6,7,6,7,6,8,6,5,7,4,6,8,6,5,6,6,6.0,Yes,240411786,true,2016-12-05 15:45:34,2016-12-05 15:47:06,2a4d1da8a1,6.000000,6.000000,6.333333,5.666667,6.000000,6.0000,5.333333,6.000000,1.0,public
28,66,b629e788f781373c447aae0881677d06,Female,1978,College graduate,Employed for wages,"$70,000 to $79,999",8,6,6,8,4,5,5,7,8,7,2,4,7,3,8,4,6,7,10,8,10,7,8.0,Yes,30738858,true,2016-12-05 15:46:40,2016-12-05 15:49:07,d34b0ce3f9,6.666667,7.000000,9.000000,7.000000,6.666667,7.3125,4.333333,6.666667,567.0,public
29,67,7cb62b1e94bbebd6653280b1049b8b6d,Male,1989,College graduate,Employed for wages,"$30,000 to $39,999",5,1,9,7,7,8,5,3,5,6,2,5,6,0,9,2,4,8,9,1,8,5,5.0,Yes,2542776976,true,2016-12-05 15:51:01,2016-12-05 15:52:05,a842ff8d37,6.666667,5.666667,6.666667,3.666667,7.000000,5.8750,1.000000,6.666667,220.0,public
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,263,44dea113fa447974b9c66c9434a1de72,Female,1994,College graduate,Employed for wages,"$90,000 to $99,999",8,9,6,10,5,5,7,8,7,5,8,5,6,8,10,8,9,5,6,6,4,5,7.0,Yes,275510681,true,2017-02-17 02:23:11,2017-02-17 02:24:35,37db019d4c,5.666667,8.000000,6.000000,6.666667,7.666667,6.8125,8.333333,5.666667,50.0,public
132,264,3db3d58a9dbef7f161bc6952777fadb2,Male,1991,College graduate,Self-employed,"Less than $10,000",6,9,8,9,2,8,5,10,6,8,6,6,8,4,8,2,10,8,10,2,10,8,7.0,Yes,2321879606,true,2017-02-17 02:28:04,2017-02-17 02:30:25,bd393f2b58,8.000000,9.000000,10.000000,4.333333,5.333333,7.3125,5.000000,8.000000,6.0,public
133,265,008ce9000fbc39d9e7e7b6db433686ff,Female,1990,College graduate,Self-employed,"$20,000 to $29,999",7,9,9,8,8,7,8,9,10,9,7,5,7,8,8,7,10,5,10,8,10,6,8.0,Yes,588452400,true,2017-02-17 07:06:31,2017-02-17 07:08:51,b0b902c06d,7.333333,9.000000,9.666667,8.666667,7.666667,8.4375,8.000000,7.333333,301.0,public
134,266,3ae2f65ec93182455a6d388a339b7933,Male,1993,Post graduate degree,A student,"$10,000 to $19,999",4,2,10,4,9,10,8,6,8,10,6,10,8,5,8,4,6,10,8,9,8,8,10.0,Yes,421474712,true,2017-02-18 02:13:50,2017-02-18 02:17:18,ad0091ede2,8.666667,6.666667,7.333333,8.333333,7.000000,7.7500,3.666667,8.666667,18.0,public
135,268,ae0acffd5ab1b5d082d92001634035b0,Female,1988,College graduate,Employed for wages,"$30,000 to $39,999",8,7,8,8,5,6,7,9,6,6,9,5,6,2,8,6,9,5,9,6,8,8,8.0,Yes,1905491454,true,2017-02-18 16:42:11,2017-02-18 16:44:33,50ff72d9eb,7.333333,7.666667,8.666667,6.333333,7.000000,7.4375,5.000000,7.333333,47.0,public
136,269,ca895605480177fd9e2bf9cbf37ba5a3,Male,1989,Post graduate degree,Self-employed,"$20,000 to $29,999",10,8,9,8,10,10,10,8,10,10,2,10,10,5,10,5,8,10,10,10,10,10,10.0,Yes,1600397470,true,2017-02-18 21:34:42,2017-02-18 21:39:25,09c2b60cea,9.666667,8.666667,9.333333,10.000000,10.000000,9.5625,6.000000,9.666667,447.0,public
137,270,120047fc1ee5854f1f9d17498b165864,Female,1996,High school graduate,A student,"$10,000 to $19,999",8,6,5,8,6,8,8,9,6,8,6,10,7,3,10,3,9,8,10,9,6,5,7.0,Yes,3648088105,true,2017-02-18 23:22:38,2017-02-18 23:24:43,226dd0794f,5.666667,8.333333,8.333333,7.666667,8.000000,7.5625,4.000000,5.666667,20.0,public
138,271,bd358b80f59b6d0c7f5692b204a38525,Female,1984,College graduate,Employed for wages,"$100,000 to $149,999",5,4,8,9,10,8,10,10,9,10,0,7,9,2,10,2,0,10,10,10,8,8,8.0,Yes,1223036636,true,2017-02-20 01:32:08,2017-02-20 01:34:21,b15f9ad4c3,8.333333,6.333333,9.333333,9.666667,8.333333,8.3750,2.666667,8.333333,48.0,public
139,272,9e8e1fa9d94b567f88ae0a56258d2407,Male,1994,College graduate,Self-employed,"$50,000 to $59,999",7,6,4,7,7,6,9,7,7,7,5,4,7,6,6,4,7,5,8,4,8,4,7.0,Yes,1556973431,true,2017-02-20 01:38:32,2017-02-20 01:42:01,2c38401013,5.000000,7.000000,7.666667,6.666667,6.666667,6.6250,5.333333,5.000000,8.0,public
140,277,c93d368a3780cae484e87a312b2f36c2,Male,1989,College graduate,Self-employed,"$10,000 to $19,999",7,4,8,8,6,7,8,8,9,7,6,7,7,2,7,6,3,8,8,6,4,6,7.0,Yes,30837828,true,2017-02-22 06:11:19,2017-02-22 06:13:50,1f17e2b42f,7.000000,6.000000,6.666667,7.666667,6.666667,6.8125,4.000000,7.000000,548.0,public
141,280,f67c579589ee85b91e681c90e987eeee,Female,1995,High school graduate,Out of work and looking for work,"Less than $10,000",4,5,5,5,5,5,5,5,5,8,9,3,4,2,2,5,5,4,5,5,5,5,5.0,No,2932434558,true,2017-02-23 15:58:00,2017-02-23 16:00:43,337a36523b,4.666667,6.000000,5.000000,5.000000,3.666667,4.8750,4.000000,4.666667,105.0,public
142,281,558e99e2f98d4317d1d683f9eb8c8a1b,Female,1997,High school graduate,A student,"$10,000 to $19,999",3,8,9,5,6,6,10,7,4,7,2,8,9,9,4,1,10,5,9,2,7,6,6.0,Yes,481709584,true,2017-02-24 01:31:42,2017-02-24 01:35:03,8538bfa2f2,8.000000,7.333333,7.666667,5.333333,4.333333,6.5000,6.000000,8.000000,176.0,public
143,283,331d668f640d80384a587ac21db5ed9c,Female,1993,High school graduate,A homemaker,"Less than $10,000",7,9,9,10,7,4,10,4,10,10,7,3,8,6,10,6,6,3,9,6,6,5,7.0,Yes,242886474,true,2017-02-25 16:52:35,2017-02-25 16:55:05,a3e0e8713c,7.333333,8.666667,6.333333,8.666667,8.000000,7.7500,7.000000,7.333333,260.0,public
144,284,c25b00453ff8f9370e951337042dbb56,Male,1994,College graduate,Employed for wages,"$30,000 to $39,999",9,4,8,8,9,9,9,10,9,9,2,9,9,3,8,3,9,9,9,8,8,8,8.0,Yes,276232195,true,2017-02-26 17:32:54,2017-02-26 17:34:38,0dcfb9813d,8.333333,8.666667,9.000000,8.666667,8.666667,8.6250,3.333333,8.333333,427.0,public
145,285,8cce47755a24d93ecb94bfd7d2dede98,Female,1992,College graduate,Out of work but not currently looking for work,"$40,000 to $49,999",10,0,5,5,7,8,10,8,10,8,0,8,10,0,8,3,9,9,9,8,9,10,8.0,Yes,4149909836,true,2017-02-26 22:46:58,2017-02-26 22:48:33,c9f0a446a5,8.333333,7.333333,8.666667,9.333333,8.333333,8.3750,1.000000,8.333333,2.0,public
146,286,32a7b85933a07916878f5b4ed1eccaf8,Male,1993,High school graduate,Employed for wages,"$50,000 to $59,999",7,7,5,7,8,6,7,5,7,8,3,5,7,4,9,2,10,5,6,8,7,6,7.0,Yes,30191588,true,2017-02-26 23:55:32,2017-02-26 23:58:37,283de96c9d,6.000000,8.333333,6.000000,7.333333,8.000000,7.1250,4.333333,6.000000,72.0,public
147,290,ed13ffe90eb4f81c3ec190a9babbe3b3,Male,1998,High school graduate,Self-employed,"Less than $10,000",3,2,4,1,7,9,5,8,10,5,3,8,7,2,7,2,3,8,7,8,6,5,6.0,Yes,1654216643,true,2017-02-28 16:31:39,2017-02-28 16:35:45,6f1dfa8e5a,5.333333,3.000000,7.000000,7.666667,5.666667,5.7500,2.000000,5.333333,109.0,public
148,291,8d4fada2394f86dddd0959430c8669a6,Female,1975,High school graduate,Self-employed,"$20,000 to $29,999",7,5,8,8,5,9,8,2,8,9,7,8,9,6,9,3,9,9,8,5,8,8,8.0,Yes,3417740025,true,2017-03-01 14:25:38,2017-03-01 14:28:55,6e4fa8932e,8.333333,8.666667,6.000000,7.000000,7.000000,7.4375,4.666667,8.333333,97.0,public
149,293,6cc4afc440a35b07a157afdb98fedf1b,Male,1998,High school graduate,Self-employed,"$40,000 to $49,999",9,2,7,7,10,10,10,8,10,10,2,9,8,7,8,5,5,9,9,8,9,7,8.0,Yes,45655555,true,2017-03-02 02:00:00,2017-03-02 02:01:32,1a3075a9ae,7.333333,7.333333,8.666667,9.333333,9.000000,8.3125,4.666667,7.333333,22.0,public
150,297,beee76c8e5770f7d316e72b3ecc98016,Male,1995,High school graduate,A student,I'd rather not disclose this information,2,7,3,8,5,5,5,7,6,6,7,7,5,5,7,7,8,5,7,7,5,7,5.0,No,1976682131,true,2017-03-03 03:03:06,2017-03-03 03:07:31,48de6c9ac4,5.000000,7.333333,6.333333,6.000000,4.666667,5.8125,6.333333,5.000000,144.0,public
151,303,c6bd75e9dbe842ca83592343494b9bd6,Female,1958,College graduate,Self-employed,"$20,000 to $29,999",5,10,4,10,6,3,4,1,3,5,10,3,4,9,9,9,9,7,1,5,4,3,3.0,Yes,49519677,true,2017-03-06 19:29:34,2017-03-06 19:31:46,8029abd995,3.666667,8.000000,2.000000,4.000000,6.666667,4.7500,9.333333,3.666667,16.0,public
152,304,9ce00751baa17a761bbcc546fa5d4e6d,Female,1989,High school graduate,Out of work and looking for work,"$40,000 to $49,999",5,8,5,8,3,5,8,7,0,5,10,3,5,7,9,9,6,5,3,0,0,0,1.0,Yes,190011156,true,2017-03-06 23:49:09,2017-03-06 23:51:06,369fbe14ac,3.333333,6.333333,3.333333,2.666667,5.666667,4.0625,8.000000,3.333333,368.0,public
153,306,f993dca0781c7c1c67f28ffcbf7c45ea,Male,1995,Some high school,Self-employed,"$10,000 to $19,999",7,5,4,7,7,5,6,3,4,5,10,2,3,5,10,0,7,1,7,7,2,10,4.0,No,4249629173,true,2017-03-07 09:51:03,2017-03-07 09:53:31,712ecef637,5.666667,6.333333,4.000000,5.666667,8.000000,5.8125,3.333333,5.666667,45.0,public
154,307,f886bf762c0202d8f5cfd3701e39816b,Female,1995,High school graduate,Self-employed,"Less than $10,000",7,4,7,5,8,7,10,7,8,7,0,7,8,6,9,1,10,5,10,5,8,5,7.0,Yes,345248280,true,2017-03-07 18:53:14,2017-03-07 18:57:05,3b6ca3c10b,6.666667,7.333333,8.333333,7.666667,8.000000,7.5625,3.666667,6.666667,82.0,public
155,308,d99077af623749161a83e2aef4d2b176,Female,1981,College graduate,Out of work and looking for work,"$50,000 to $59,999",7,6,6,7,5,7,6,7,7,7,5,4,6,5,7,5,7,6,8,7,7,7,7.0,Yes,372088523,true,2017-03-08 18:57:09,2017-03-08 18:59:23,b516b0baf1,6.333333,7.000000,7.333333,6.666667,6.333333,6.7500,5.333333,6.333333,1292.0,public
156,319,5ea5607229b339a7cee33b413a3586e5,Female,1988,College graduate,Self-employed,"$70,000 to $79,999",3,10,6,5,8,4,9,10,9,10,5,4,10,6,9,7,10,8,10,10,10,10,10.0,No,1901242351,true,2017-03-16 15:53:18,2017-03-16 16:02:29,c622da0c99,8.666667,8.333333,10.000000,9.333333,6.666667,8.6875,7.666667,8.666667,240.0,public
157,324,e86c6beed0b79cbea5975267f5389be8,Male,1986,College graduate,Employed for wages,"$40,000 to $49,999",6,2,8,3,6,8,7,5,6,7,4,6,7,3,6,2,5,7,8,6,6,8,8.0,Yes,20621627,true,2017-03-18 03:15:26,2017-03-18 03:17:09,cc39a8bf7e,7.666667,5.000000,6.333333,6.333333,6.000000,6.3750,2.333333,7.666667,125.0,public
158,327,2f2792e13a8a1943c03b953d407ccc41,Male,1998,High school graduate,A student,"Less than $10,000",8,4,6,10,8,9,10,8,10,10,2,10,8,4,10,4,6,10,10,10,10,10,8.0,Yes,325893678,true,2017-03-22 03:31:24,2017-03-22 03:33:59,b280b3577d,8.000000,8.666667,9.333333,10.000000,8.666667,8.8750,4.000000,8.000000,112.0,public
159,328,0d46831b5a6cd84aa0afc9bb7d9d33ba,Female,1992,College graduate,Out of work and looking for work,"$10,000 to $19,999",7,5,4,9,6,10,6,9,8,9,2,8,5,4,8,7,8,8,8,7,8,4,6.0,Yes,531942752,true,2017-03-22 03:28:55,2017-03-22 03:34:28,f38cd47561,4.333333,8.666667,8.333333,7.000000,7.000000,7.0000,5.333333,4.333333,65.0,public
160,329,5c00241efe438d0b0ee4ecb44542ff5c,Female,1979,College graduate,Self-employed,"$30,000 to $39,999",8,7,6,9,8,7,8,4,8,8,6,4,7,3,9,3,9,5,7,8,8,7,8.0,Yes,545497348,true,2017-03-22 04:04:02,2017-03-22 04:07:08,d4a6e64bf5,6.666667,8.666667,6.333333,8.000000,8.333333,7.6250,4.333333,6.666667,505.0,public

In [44]:
survey_df.columns.values.tolist()
survey_df.insta_user_id[survey_df.insta_user_id == 263042348]

4    263042348
Name: insta_user_id, dtype: int64

In [45]:
survey_df = survey_df.drop_duplicates(subset='insta_user_id', keep="first")

## First EDA and cleansing

In [46]:
## Overzichtelijk wat onze attributen zijn
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4316085 entries, 0 to 4316084
Data columns (total 44 columns):
image_id                      object
image_link                    object
image_url                     object
image_height                  float64
image_width                   float64
image_filter                  object
image_posted_time_unix        object
image_posted_time             object
data_memorability             float64
user_id                       object
user_full_name                object
user_name                     object
user_website                  object
user_profile_pic              object
user_bio                      object
user_followed_by              float64
user_follows                  float64
user_posted_photos            float64
anp_label                     object
anp_sentiment                 float64
emotion_score                 float64
emotion_label                 object
data_amz_label                object
data_amz_label_confidence     float64
face_id                       float64
face_gender                   object
face_gender_confidence        float64
face_age_range_high           float64
face_age_range_low            float64
face_sunglasses               bool
face_beard                    bool
face_beard_confidence         float64
face_mustache                 bool
face_mustache_confidence      float64
face_smile                    bool
face_smile_confidence         float64
eyeglasses                    bool
eyeglasses_confidence         float64
face_emo                      object
emo_confidence                float64
comment_count                 float64
comment_count_time_created    object
like_count                    float64
like_count_time_created       object
dtypes: bool(5), float64(20), object(19)
memory usage: 1.3+ GB

## Export data

In [47]:
#data.to_pickle('DFdata.pkl')

In [48]:
#survey_df.to_pickle('DFsurvey.pkl')

In [49]:
#print (pd.merge(data, survey_df, left_on='user_id', right_on='insta_user_id', how='left').drop('insta_user_id', axis=1))
survey_df['insta_user_id']=survey_df['insta_user_id'].apply(int)
data['user_id']=data['user_id'].apply(int)

C:\Users\jebo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [50]:
permaMeta = pd.merge(data, survey_df, left_on='user_id', right_on='insta_user_id', how='outer')

In [51]:
permaMeta

,image_id,image_link,image_url,image_height,image_width,image_filter,image_posted_time_unix,image_posted_time,data_memorability,user_id,user_full_name,user_name,user_website,user_profile_pic,user_bio,user_followed_by,user_follows,user_posted_photos,anp_label,anp_sentiment,emotion_score,emotion_label,data_amz_label,data_amz_label_confidence,face_id,face_gender,face_gender_confidence,face_age_range_high,face_age_range_low,face_sunglasses,face_beard,face_beard_confidence,face_mustache,face_mustache_confidence,face_smile,face_smile_confidence,eyeglasses,eyeglasses_confidence,face_emo,emo_confidence,comment_count,comment_count_time_created,like_count,like_count_time_created,index,id,gender,born,education,employed,income,A_2,N_1,P_1,E_1,A_1,H_1,M_1,R_1,M_2,E_2,LON,H_2,P_2,N_2,A_3,N_3,E_3,H_3,R_2,M_3,R_3,P_3,HAP,participate,insta_user_id,completed,start_q,end_q,network_id,P,E,R,M,A,PERMA,N_EMO,P_EMO,imagecount,private_account
0,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Human,99.297043,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,HAPPY,96.513680,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
1,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Human,99.297043,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SAD,2.520150,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
2,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Human,99.297043,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SURPRISED,11.018240,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
3,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,People,99.299934,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,HAPPY,96.513680,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
4,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,People,99.299934,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SAD,2.520150,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
5,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,People,99.299934,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SURPRISED,11.018240,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
6,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Person,99.299934,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,HAPPY,96.513680,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
7,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Person,99.299934,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SAD,2.520150,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
8,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Person,99.299934,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SURPRISED,11.018240,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
9,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Food,73.162224,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,HAPPY,96.513680,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
10,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Food,73.162224,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SAD,2.520150,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
11,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Food,73.162224,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SURPRISED,11.018240,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
12,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Pasta,73.162224,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,HAPPY,96.513680,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
13,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Pasta,73.162224,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SAD,2.520150,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
14,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Pasta,73.162224,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SURPRISED,11.018240,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
15,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Spaghetti,73.162224,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,HAPPY,96.513680,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
16,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Spaghetti,73.162224,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SAD,2.520150,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
17,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,weird_fish,-0.203,0.1303,amazement,Spaghetti,73.162224,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SURPRISED,11.018240,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
18,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,funny_hats,0.078,0.1638,joy,Human,99.297043,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,HAPPY,96.513680,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
19,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,funny_hats,0.078,0.1638,joy,Human,99.297043,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SAD,2.520150,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public
20,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/e15/11376166_1096520760361475_497583177_n.jpg,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348.0,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/s150x150/14583411_971469119646355_2442312008746401792_a.jpg,,316.0,347.0,73.0,funny_hats,0.078,0.1638,joy,Human,99.297043,20.0,Female,100.000000,38.0,20.0,False,False,99.655762,False,98.480972,True,87.779747,False,99.99987,SURPRISED,11.018240,1.0,19-06-2017 19:13:09,15.0,19-06-2017 19:13:09,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,Yes,263042348,true,2016-12-05 14:02:36,2016-12-05 14:04:43,aae4bbb89a,5.666667,6.000000,6.000000,6.666667,7.000000,NaN,3.000000,5.666667,73.0,public

In [52]:
# merged preprocessed data set
permaMeta = permaMeta[permaMeta['image_height'].isnull() == False]

In [53]:
permaMeta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4316085 entries, 0 to 4316084
Data columns (total 90 columns):
image_id                      object
image_link                    object
image_url                     object
image_height                  float64
image_width                   float64
image_filter                  object
image_posted_time_unix        object
image_posted_time             object
data_memorability             float64
user_id                       float64
user_full_name                object
user_name                     object
user_website                  object
user_profile_pic              object
user_bio                      object
user_followed_by              float64
user_follows                  float64
user_posted_photos            float64
anp_label                     object
anp_sentiment                 float64
emotion_score                 float64
emotion_label                 object
data_amz_label                object
data_amz_label_confidence     float64
face_id                       float64
face_gender                   object
face_gender_confidence        float64
face_age_range_high           float64
face_age_range_low            float64
face_sunglasses               object
face_beard                    object
face_beard_confidence         float64
face_mustache                 object
face_mustache_confidence      float64
face_smile                    object
face_smile_confidence         float64
eyeglasses                    object
eyeglasses_confidence         float64
face_emo                      object
emo_confidence                float64
comment_count                 float64
comment_count_time_created    object
like_count                    float64
like_count_time_created       object
index                         int64
id                            category
gender                        category
born                          int32
education                     category
employed                      category
income                        category
A_2                           int32
N_1                           int32
P_1                           int32
E_1                           int32
A_1                           int32
H_1                           int32
M_1                           int32
R_1                           int32
M_2                           int32
E_2                           int32
LON                           int32
H_2                           int32
P_2                           int32
N_2                           int32
A_3                           int32
N_3                           int32
E_3                           int32
H_3                           int32
R_2                           int32
M_3                           int32
R_3                           int32
P_3                           int32
HAP                           float64
participate                   category
insta_user_id                 int64
completed                     category
start_q                       category
end_q                         category
network_id                    category
P                             float64
E                             float64
R                             float64
M                             float64
A                             float64
PERMA                         float64
N_EMO                         float64
P_EMO                         float64
imagecount                    float64
private_account               object
dtypes: category(10), float64(31), int32(23), int64(2), object(24)
memory usage: 2.3+ GB

## Training

In [54]:
import sklearn

In [55]:
permaMeta = permaMeta.drop_duplicates(subset=None, keep='first', inplace=False)

In [56]:
#permaMeta["participate"] = permaMeta["participate"].cat.codes
columns = permaMeta.columns
objectsCol = permaMeta.select_dtypes(include=['object']).columns

for column in columns:
    if column not in ['image_id', 'image_link', 'image_url', 'user_full_name', 'user_name', 'user_bio']:
        try:
            permaMeta[column] = permaMeta[column].cat.codes
        except:
            continue
        
for Object in objectsCol:
    try:
        permaMeta[Object] = permaMeta[Object].astype('category').cat.codes
    except:
        continue

image_id
image_link
image_url
image_filter
image_posted_time_unix
image_posted_time
user_full_name
user_name
user_website
user_profile_pic
user_bio
anp_label
emotion_label
data_amz_label
face_gender
face_sunglasses
face_beard
face_mustache
face_smile
eyeglasses
face_emo
comment_count_time_created
like_count_time_created
private_account

,image_id,image_link,image_url,image_height,image_width,image_filter,image_posted_time_unix,image_posted_time,data_memorability,user_id,user_full_name,user_name,user_website,user_profile_pic,user_bio,user_followed_by,user_follows,user_posted_photos,anp_label,anp_sentiment,emotion_score,emotion_label,data_amz_label,data_amz_label_confidence,face_id,face_gender,face_gender_confidence,face_age_range_high,face_age_range_low,face_sunglasses,face_beard,face_beard_confidence,face_mustache,face_mustache_confidence,face_smile,face_smile_confidence,eyeglasses,eyeglasses_confidence,face_emo,emo_confidence,comment_count,comment_count_time_created,like_count,like_count_time_created,index,id,gender,born,education,employed,income,A_2,N_1,P_1,E_1,A_1,H_1,M_1,R_1,M_2,E_2,LON,H_2,P_2,N_2,A_3,N_3,E_3,H_3,R_2,M_3,R_3,P_3,HAP,participate,insta_user_id,completed,start_q,end_q,network_id,P,E,R,M,A,PERMA,N_EMO,P_EMO,imagecount,private_account
1,9540,10347,5249,612.0,612.0,27,2527,11039,0.875568,263042348.0,106,126,0,90,0,316.0,347.0,73.0,3160,-0.203,0.1303,2,644,99.297043,20.0,0,100.0,38.0,20.0,0,0,99.655762,0,98.480972,1,87.779747,0,99.99987,5,2.52015,1.0,3,15.0,3,6,9,0,1993,0,1,3,7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,1,263042348,0,4,6,220,5.666667,6.0,6.0,6.666667,7.0,NaN,3.0,5.666667,73.0,0
2,9540,10347,5249,612.0,612.0,27,2527,11039,0.875568,263042348.0,106,126,0,90,0,316.0,347.0,73.0,3160,-0.203,0.1303,2,644,99.297043,20.0,0,100.0,38.0,20.0,0,0,99.655762,0,98.480972,1,87.779747,0,99.99987,6,11.01824,1.0,3,15.0,3,6,9,0,1993,0,1,3,7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,1,263042348,0,4,6,220,5.666667,6.0,6.0,6.666667,7.0,NaN,3.0,5.666667,73.0,0
3,9540,10347,5249,612.0,612.0,27,2527,11039,0.875568,263042348.0,106,126,0,90,0,316.0,347.0,73.0,3160,-0.203,0.1303,2,913,99.299934,20.0,0,100.0,38.0,20.0,0,0,99.655762,0,98.480972,1,87.779747,0,99.99987,4,96.51368,1.0,3,15.0,3,6,9,0,1993,0,1,3,7,5,7,4,6,7,7,7,6,7,5,6,2,2,8,2,7,6,6,7,5,8,NaN,1,263042348,0,4,6,220,5.666667,6.0,6.0,6.666667,7.0,NaN,3.0,5.666667,73.0,0